<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>タスク編集</title>
</head>
<body>
<div class="header-tasks">
    <h2>タスク編集</h2>
</div>
<div class="main-contents">
    <form th:action="@{/taskUpdate/{id}(id=${formModel.id})}" th:object="${formModel}" th:method="put">
        <div class="form-area">
            <div th:object="${formModel}" >
                <div class="errorMessage" th:if="${#fields.hasErrors('content')}"  th:errors="*{content}">
                </div>
                <div class="errorMessage" th:if="${#fields.hasErrors('limitDate')}"  th:errors="*{limitDate}">
                </div>
            </div>

            <div class="label">タスク内容</div>
            <textarea class="tweet-box" name="content" th:field="*{content}" rows="7" cols="40" ></textarea><br/>
                <div class="label2">タスク期限</div>
            <div class="editLimit">
                <input type="date" th:field="*{limitDate}">
                <input type="hidden" th:field="*{status}">
                <input type="hidden" th:field="*{updatedDate}">
                <input type="hidden" th:field="*{createdDate}">
            </div>
                <input class="addButton" type="submit" value="更新"/>
        </div>
    </form>
</div>
<div class="footer-contents">
    <form action="/">
        <a href="/">戻る</a>
    </form>
</div>
</body>
</html>