<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>addTask</title>
</head>
<body>
<div class="header-tasks">
    <h2>タスク追加</h2>
</div>
<div class="main-contents">
    <!--エラーメッセージの表示-->
    <!--このformModelにはエラーメッセージが入っている。-->

    <!-- 新規投稿入力フォーム-->
    <form method="post" action="/add" >
        <div class="form-area">
            <div th:object="${formModel}" >
                <!--    th:errors="*{content}"の役割はBindingResult の中で、contentフィールド(contentにつけたNotBlank)に関連付けられているエラーメッセージを出力-->
                <!--th:if="${#fields.hasErrors('content')}"= contentの中にエラーメッセージがある場合のみにメッセージを表示-->
                <div class="errorMessage" th:if="${#fields.hasErrors('content')}"  th:errors="*{content}">
                </div>
                <div class="errorMessage" th:if="${#fields.hasErrors('limitDate')}"  th:errors="*{limitDate}">
                </div>
            </div>
            <div class="label">タスク内容</div>
            <textarea class="tweet-box" name="content" rows="7" cols="40"></textarea><br/>
            <div class="label2">タスク期限</div>
            <input class="editLimit"   type="date" name="limitDate" value="${limitDate}">
            <input type="hidden" name="status" value=1>
            <div>
                <input class="addButton" type="submit" value="追加"/>
            </div>
        </div>
    </form>
</div>
<div class="footer-contents">
    <form action="/">
        <a href="./">戻る</a>
    </form>
</div>
</body>
</html>